#!/bin/zsh

alias dotfiles='cd ~/dotfiles && mim'
alias repos='cd ~/Repositories && ls'
alias atom='atom .'
alias mim='mvim'
alias tower='gittower .'

alias ni='npm i'
alias nig='npm i -g'
alias nis='npm i -S'
alias nid='npm i -D'
alias nr='npm run'
