#!/bin/zsh

alias dotfiles='cd ~/dotfiles && vim .'
alias repos='cd ~/Repositories && ls'
alias atom='atom .'
alias v='mvim -v'
alias vim='mvim -v'
alias tower='gittower .'
alias transmit='open /applications/transmit.app'

alias n='npm'
alias ni='npm i'
alias nig='npm i -g'
alias nis='npm i -S'
alias nid='npm i -D'
alias nr='npm run'
