#!/bin/zsh

function gi() { curl -L -s https://www.gitignore.io/api/"$@" ;}
function serve() { [ $1 ] && port=$1 || port=4567; python -m SimpleHTTPServer $port ;}
function new-project() {
  mkdir $1 && cd $1
  git clone git@github.com:benhinchley/project-boilerplate.git .
  rm -rf .git
  git init && git add . && git commit -m 'Initial Commit'
  npm install && bower install
  atom && npm run watch
}
function code () { VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $* ;}
