#!/usr/bin/env bash

# .Brewfile hash: {{include "dot_Brewfile" | sha256sum }}

{{- if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) }}
/usr/local/bin/brew bundle install --global
{{- else }}
/opt/homebrew/bin/brew bundle install --global
{{ end }}
